:root{
    font-size: 18px;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2 linear;
}
body{
    background: linear-gradient(135deg, #378dfd, #6dd5ff);
    font-family: Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
header{
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: rgb(4, 21, 173);
    max-height: 760px;
    height: 12%;
    border-bottom: 2px solid white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px; 
}
nav a{
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: sans-serif;
}
.hat{
    margin-left: 40px;
}
.instagram{
    width: 100px;
    margin-right: 100px;
}
section{
    position: relative;
    margin-top: 80px;

}
section h1{ 
    font-family: 'fredoka';
    padding: 20px;
    display: flex;
    justify-content: center;
    color: rgb(255, 251, 11);
    text-shadow: 2px 2px 5px gray;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
    margin-top: 20px;
    padding: 0 15px;
}
.foto{
    max-width: 740px;
    width: 100%;
    height: auto;
    background-color: rgb(4, 21, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 2px 2px 10px gray;

}
.foto img{
    max-width: 660px;
    width: 90%;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;

}
.principalText{
    font-size: 18px;
    line-height: 1.7;
    padding-top: 10px;
    color: white;
    text-shadow: 2px 2px 5px gray;
    align-self: flex-start;
    margin-bottom: 20px;

}
footer{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 206, 7);
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    width: 50%;
    max-width: 900px;
    margin: 10px auto;
    gap: 20px;
    height: 60px;
}
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    text-align: center;
}
footer p{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 5px gray;
}
.containerBrinquedos{
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    background-color: rgb(4, 21, 173);
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}
.containerBrinquedos img, 
.containerBrinquedos video{
    width: 80%;
    margin-top: auto;
    margin-left: 30px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
.video{
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px 0;
    background-color: rgb(4, 21, 173);
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}
.video video{
    width: 80%;
    margin-top: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
.galeria img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.containerDecoracoes{
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
    padding: 40px 40px;
    background-color: rgb(4, 21, 173);
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    padding-left: 80px;
}
.containerDecoracoes img{
    width: 80%;
    margin-top: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
.menu {
    display: contents;
}

.menu-toggle {
    display: none;
}






@media (max-width: 760px){
html{
    scroll-padding-top: 120px;
}
header{
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: rgb(4, 21, 173);
    max-height: 760px;
    height: 18%;
    border-bottom: 2px solid white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px; 
}
nav a{
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: sans-serif;
    margin: 10px;
    margin-left: 30px;
}
.hat{
    width: 30px;
    margin-left: 20px;
}
.instagram{
    width: 30px;
    margin-right: 20px;
}
section{
    position: relative;
    margin-top: 110px;

}
section h1{ 
    font-size: 26px;
    font-family: 'fredoka';
    padding: 20px;
    display: flex;
    justify-content: center;
    color: rgb(255, 251, 11);
    text-shadow: 2px 2px 5px gray;
    margin-top: 60px;
    margin-bottom: 20px;
}
.container{
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
    margin-top: 20px;
    padding: 0 15px;
}
.foto{
    max-width: 740px;
    width: 100%;
    height: auto;
    background-color: rgb(4, 21, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 2px 2px 10px gray;

}
.foto img{
    max-width: 660px;
    width: 90%;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;

}
.principalText{
    font-size: 16px;
    line-height: 1.7;
    padding-top: 10px;
    color: white;
    text-shadow: 2px 2px 5px gray;
    align-self: flex-start;
    margin-bottom: 20px;

}
footer{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 206, 7);
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    width: 90%;
    max-width: 760px;
    margin: 10px auto;
    gap: 20px;
    height: 70px;
}
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    text-align: center;
}
footer p{
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 5px gray;
}
.containerBrinquedos{
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    background-color: rgb(4, 21, 173);
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}
.containerBrinquedos img, 
.containerBrinquedos video{
    width: 80%;
    margin-top: auto;
    margin-left: 40px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
.video{
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px 0;
    background-color: rgb(4, 21, 173);
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}
.video video{
    width: 90%;
    margin-top: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
.galeria img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.containerDecoracoes{
    flex-direction: column;
    width: 100%;
    max-width: 760px;
    margin: 20px auto;
    gap: 20px;
    padding: 20px 20px;
    background-color: rgb(4, 21, 173);
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    padding-left: 20px;
}
.containerDecoracoes img{
    width: 80%;
    margin-top: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}  
.menu-toggle {
    display: block;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgb(4, 21, 173);
    text-align: center;
    padding: 20px 0;
    z-index: 100;
}

.menu.active {
    display: flex;
}

.menu a {
    padding: 10px 0;
}

nav {
    justify-content: space-between;
}

.instagram {
    margin: 10px 0;
    width: auto;
}
html, body {
overflow-x: hidden;
}
}
